# Virtual env
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Environment files
.env
*.env

# Logs and backups
*.log
*.tar.gz
*.zip
*.bak

# Editor/IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
